<h1 class="text-2xl font-bold mb-4">내가 쓴 글</h1>

<% @posts.each do |post| %>
  <div class="mb-4 border p-4 rounded shadow">
    <h2 class="text-lg font-semibold"><%= post.title %></h2>
    <p><%= truncate(post.book_title, length: 50) %> - <%= post.book_author %></p>
    <%= link_to "자세히 보기", post_path(post), class: "text-blue-500" %>
  </div>
<% end %>
