
<p><%= @resource.email %>님, 안녕하세요.</p>

<p>아래 링크를 클릭하여 비밀번호를 재설정하세요.</p>
<p><%= link_to '비밀번호 재설정', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>비밀번호 변경을 요청하지 않으셨다면, 이 이메일은 무시하셔도 됩니다.</p>
<p>위 링크를 클릭하여 새 비밀번호를 설정하기 전까지는 기존 비밀번호는 그대로 유지됩니다.</p>
